################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/backendDefault/backendDefault/obj
/backendDefault/backendDefault/bin/Debug/netcoreapp3.1
/backendDefault/.vs/backendDefault
/backendDefault/backendDefault.Aplication/obj
/backendDefault/backendDefault.Aplication/bin/Debug/netcoreapp3.1
/backendDefault/backendDefault.Domain/obj
/backendDefault/backendDefault.Domain/bin/Debug/netcoreapp3.1
/backendDefault/backendDefault.Infra/obj
/backendDefault/backendDefault.Infra/bin/Debug/netcoreapp3.1
